
.container {
    padding-top: 94px;
    max-width: var(--mobile-width);
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .container__list {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .container__icon {
    width: 450px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .container__title {
    display: flex;
    justify-content: center;
    // padding-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--brand-color);
    min-width: var(--mobile-width);
    margin: auto;
    margin-bottom: 10px;
  }
  
  .container__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    // margin-right: 30px;
    width: 450px;
    height: 50px;
    // margin-bottom: 75px;
    color: var(--link-color);
    display: flex;
    margin: auto;
  }

  

  @media (min-width: 768px) {
    .container {
      max-width: var(--tablet-width); 
      display: flex;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
    }

    .container__icon {
      width: 354px;
  }

  .container__text {
    width: 354px;
    margin: 0;
    padding: 0;
  }

  .container__list {
    min-width: 1200px;
    display: flex;
    list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
    padding-bottom: 94px;
    flex-wrap: wrap;

    padding-bottom: 30px;
    align-items: center;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  }

