.gallery {
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 60px;
  gap: 30px;

  & > li {
    background: #ffffff;
    border: 1px solid #eeeeee;
  }
}

.gallery__accent:hover,
.gallery__accent:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-bezier);
}

.gallery__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.gallery__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.gallery__box {
  width: 100%;
  height: 294px;
  position: relative;
  overflow: hidden;

  &:hover .gallery__overlay {
    transform: translate(0%, -100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
    height: 101%;
    width: 101%;
  }
}

.gallery__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gallery__overlay--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
}

@media (min-width: 768px) {
  .gallery {
    min-width: 768px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__box {
    width: 100%;
  }

  .gallery img {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .gallery {
    min-width: var(--desktop-width);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-bottom: 94px;
    gap: 30px;

    & > li {
      background: #ffffff;
      border: 1px solid #eeeeee;
    }
  }

  .gallery__accent:hover,
  .gallery__accent:focus {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--cubic-bezier);
  }

  .gallery__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--brand-color);
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .gallery__description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--link-color);
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
  }

  .gallery__box {
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;

    .gallery img {
      width: 370px;
    }

    &:hover .gallery__overlay {
      transform: translate(0%, -100%);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background: rgba(33, 150, 243, 0.9);
      height: 101%;
      width: 101%;
    }
  }

  .gallery__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .gallery__overlay--text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-top: 49px;
    padding-bottom: 49px;
    padding-left: 24px;
    padding-right: 45px;
  }
}
