.site-nav {
  display: none;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.site-nav__primary {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--item-color);

  &::after {
    content: '';
    position: absolute;
    width: 58px;
    height: 4px;
    bottom: 32px;
    top: 78px;
    background: #2196f3;
    border-radius: 2px;
    display: block;
  }
}

.site-nav__secondary {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;

  &:hover,
  &:focus {
  color: var(--item-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-bezier);
}
}

.site-nav__contact {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 40px;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 10px;
  display: flex;
  justify-items: center;
  align-items: center;

  &:hover,
  &:focus {
  color: var(--item-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-bezier);
}

  &:hover .site-nav__icon-accent,
  &:focus .site-nav__icon-accent {
  fill: var(--item-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-bezier);
}
}

.site-nav__icon {
  cursor: pointer;
  fill: var(--link-color);
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav__address {
  display: block;
 justify-content: flex-end;
 margin-bottom: 0;
 
}
}
