.page-header {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: fixed;
  border: none;
  background-color: white;
  z-index: 9;
}

.page-header__border {
  border-bottom: 1px solid #ececec;
  // min-width: var(--mobile-width);
  display: flex;
  justify-content: space-between;
}

.page-header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__menu {
  margin-left: 40vw;
}

.page-header__icon {
  fill: var(--brand-color);
}

.page-header__icon {
  transform: translateX(0);
}

.page-header__icon:focus,
.page-header__icon:hover {
  fill: var(--item-color);
}

.page-header__btn {
  border: none;
}

.header__link-logo {
  border: none;
}

@media (min-width: 768px) {
  .page-header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    position: static;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .page-header__nav {
    display: flex;
  }

  .page-header__border {
    min-width: var(--tablet-width);
  }

  .page-header__menu {
    display: none;
  }

  .page-header__navigation {
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .page-header {
    max-width: var(--desktop-width);
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
  }

  .page-header__border {
    min-width: var(--desktop-width);
  }
}
