.page-color {
  min-width: var(--mobile-width);
  margin: auto;
  background: var(--second-background);
}

.section-box {
  max-width: var(--mobile-width);
  margin-bottom: 50px;
  fill: #afb1b8;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-box__title {
  width: var(--mobile-width);
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  padding-top: 78px;
}

.section-box__icon--border {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--item-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.section-box__icon:hover,
.section-box__icon:focus {
  fill: var(--item-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-bezier);
}

.section-box__list {
  min-width: var(--mobile-width);
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .section-box {
    max-width: var(--tablet-width);
    margin-bottom: 60px;
  }

  .section-box__list {
    min-width: var(--tablet-width);
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
    align-items: center;
    margin: auto;
  }

  .section-box__title {
    width: var(--tablet-width);
    margin-top: 100px;
  }

  .page-color {
    min-width: var(--tablet-width);
  }
}

@media (min-width: 1200px) {
  .section-box {
    max-width: var(--desktop-width);
    margin-bottom: 60px;
  }

  .section-box__list {
    min-width: var(--desktop-width);
  }

  .section-box__title {
    font-size: 36px;
    line-height: 42px;
    width: var(--desktop-width);
    margin-top: 60px;
  }

  .page-color {
    min-width: var(--desktop-width);
  }
}
