.subscribe {
  display: block;
  flex-direction: row;
  border: none;
}

.subscribe__border {
  border: none;
}

.subscribe__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.subscribe__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-left: 16px;
  display: flex;
  margin: auto;

  &:focus {
    border-color: var(--item-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--cubic-bezier);
  }

  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  background: var(--item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  align-items: center;
  position: relative;

  &:hover,
  &:focus {
    background: #7cbef4;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--cubic-bezier);
  }
}

.subscribe__button--push {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  position: absolute;
  left: 40px;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 40px;
}

@media (min-width: 1200px) {
  .subscribe {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 0;
  }

  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }

  .subscribe__label {
    margin-top: 12px;
    margin-left: 0;
    width: 207px;
  }

  .subscribe__button {
    margin-top: 48px;
  }
}
