// .block {
//   display: none;
// }

.team {
  padding-top: 0;
  min-width: var(--mobile-width);
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  background: var(--second-background);
  padding-bottom: 0;
}

// .title__color {
//   color: var(--brand-color);
// }

.team__title {
  //   margin-bottom: 50px;
  //   font-family: "Roboto";
  //   font-style: normal;
  //   font-weight: 700;
  //   // font-size: 36px;
  //   // line-height: 42px;
  //   text-align: center;
  //   letter-spacing: 0.03em;
  //   font-size: 28px;
  // line-height: 33px;
  width: var(--mobile-width);
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
}

.team__list {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
}

.team__photo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-inline: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  height: 622px;
  margin-bottom: 30px;
  margin-top: 0;
}

.team-photo__position {
  margin: 0;
}

.team__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team__occupation {
  // font-family: "Roboto";
  // font-style: normal;
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 19px;
  // text-align: center;
  // letter-spacing: 0.03em;
  // color: var(--link-color);
  // margin-top: 10px;
  // margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-top: 10px;
}

@media (min-width: 768px) {
  .team {
    min-width: var(--tablet-width);
    display: flex;
    flex-direction: column;
  }

  .team__list {
    max-width: var(--tablet-width);
    // margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
  }

  .team__title {
    width: var(--tablet-width);
  }

  .team__photo {
    width: 354px;
    height: 536px;
  }
}
