.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: var(--mobile-width);
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}

.wrapper__background {
  min-width: var(--mobile-width);
  background: var(--third-background);
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 480px;
  width: 400px;
  // padding-top: 200px;
  // padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./../images/index_img/background-title-mobile-1x.jpg");
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .wrapper__background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./../images/index_img/background-title-mobile-2x@2x.jpg");
  }
}

.btn {
  background: var(--item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 30px;

  &:hover,
  &:focus {
    background: #7cbef4;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--cubic-bezier);
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: var(--tablet-width);
  }

  .wrapper__background {
    min-width: var(--tablet-width);

    width: 400px;
    // padding-top: 200px;
    // padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./../images/index_img/background-title-tablet-1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper__background {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("./../images/index_img/background-title-tablet-2x@2x.jpg");
    }
  }
}


@media (min-width: 1200px) {
  .wrapper {
    max-width: var(--desktop-width);
  }

  .wrapper__background {
    min-width: var(--desktop-width);

    width: 600px;
    // padding-top: 200px;
    // padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./../images/index_img/background-title-desktop-1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper__background {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("./../images/index_img/background-title-desktop-2x@2x.jpg");
    }
  }
}
