:root {
  --brand-color: #212121;
  --item-color: #2196f3;
  --link-color: #757575;
  --second-background: #f5f4fa;
  --third-background: #2f303a;
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile-width: 480px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
}
